<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITLab29</title>
    <link rel="stylesheet" href="~/css/full-width-pics.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="~/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/css/mdb.min.css">
    <link rel="stylesheet" href="~/lib/css/style.css">

</head>
@{ 
    bool isAuth = User.Identity.IsAuthenticated;
}
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Session" asp-action="Index">ITLab</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Announcement" asp-action="Index">Aankondigingen</a>
                    </li>
                    @{ if (isAuth)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Session" asp-action="OpenSessions">Sessies</a>
                            </li>
                        }}
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>




    <div class="container mb-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-8">
        <div class="container">
            &copy; 2020 - ITLab
            <a href="https://www.hogent.be">
                <img src="~/photo/hogent_logo.png" style="height: 1.5em; margin-left: 1em;" />
            </a>
        </div>
    </footer>
    <script type="text/javascript" src="~/lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/js/popper.min.js"></script>
    <script type="text/javascript" src="~/lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/js/mdb.min.js"></script>
    <script src="~/lib/js/addons/rating.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
        $('#stars').mdbRate();
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
