@model Tuple<ITLab29.Models.ViewModels.FeedBackViewModel, ITLab29.Models.ViewModels.EventDetailsViewModel>
@using Microsoft.AspNetCore.Identity
@using ITLab29.Models.Domain;
@using ITLab29.Models.ViewModels;
@using System.Collections;

@{
    ViewData["Title"] = "Details";
}

@{
    User user = Model.Item2.User;
    Session session = Model.Item2.Session;
    IList<Media> images = Model.Item2.Images;
    IList<Media> files = Model.Item2.Files;
    IList<Media> videos = Model.Item2.Videos;
    bool isAuth = User.Identity.IsAuthenticated;
}
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<header class="py-2 bg-image-full img-fluid" style="background-image: url('https://www.eurocloud.org.uk/wp-content/uploads/2018/03/What-Is-Cloud-Computing.jpg');margin-bottom:15px">
    <a href="/">
        <img class="img-fluid d-block mx-auto" src="~/photo/itlab_logo.png" alt="">
    </a>
</header>


<div class="col my-auto" style="padding-bottom: 1.5em; padding-top: 1em;">
    <div class="page-header">
        <h1>
            <b style="color: #5b5b5b;">
                @session.Title
            </b>
        </h1>
    </div>
</div>

<div class="h-25 row">

    <div class="col-8 lead">
        <div>
            <h2>
                Omschrijving
            </h2>
            <p>
                @session.Description
            </p>
        </div>
        <partial name="MediaPartial" for="Item2" />
        <partial name="FeedBackPartial" model="new Tuple<ITLab29.Models.ViewModels.FeedBackViewModel, ITLab29.Models.ViewModels.EventDetailsViewModel>(Model.Item1, Model.Item2)" />
    </div>
    <div class="col-4">
        <partial name="EventLocationPartial" for="Item2" />
        <partial name="EventRegisterPartial" for="Item2" />
    </div>

</div>
