@model ITLab29.Models.ViewModels.EventDetailsViewModel
@{
    bool isAuth = User.Identity.IsAuthenticated;
}
@{ if (isAuth)
    {
        if (Model.User.IsRegistered(Model.Session.SessionId))
        {
            <form asp-controller="Session" asp-action="Delete" asp-route-id="@Model.Session.SessionId">
                <button type="submit" class="btn btn-danger btn-block">
                    Uitschrijven
                </button>
            </form>
        }
        else
        {
            if (!Model.Session.SessionFull())
            {
                <form asp-controller="Session" asp-action="Add" asp-route-id="@Model.Session.SessionId">
                    <button type="submit" class="btn btn-success btn-block">
                        Inschrijven
                    </button>
                </form>
            }
            else
            {
                <form>
                    <button type="submit" class="btn btn-warning btn-block">
                        Volzet!
                    </button>
                </form>
            }

        }
    }
}