@model IEnumerable<Session>
@using ITLab29.Models.Domain
@{
    ViewData["Title"] = "Index";
}
<!-- Header - set the background image for the header in the line below -->
<header class="py-2 bg-image-full" style="background-image: url('/photo/1280px-HoGent_campusSchoonmeersen.jpg');margin-bottom:15px">
    <a href="/">
        <img class="img-fluid d-block mx-auto" src="~/photo/itlab_logo.png" alt="">
    </a>
</header>
<link href="~/css/fullcalendar.min.css" rel="stylesheet" />
<link href="~/css/fullcalendar.print.css" rel="stylesheet" media="print" />

@{ var nextEvent = Model.OrderBy(t => t.Start).FirstOrDefault();}
<div class="page-header">
    <h2>
        <b style="color: #5b5b5b;">
            Volgende sessie
        </b>
    </h2>
</div>
<div class="card" style="max-width: 18rem; position:absolute;left:inherit;z-index:1">
    <img class="card-img-top" src="~/photo/@nextEvent.Media" onerror="this.src = '/photo/What-Is-Cloud-Computing.jpg';">

    <div class="card-body">
        <h5 class="card-title">@nextEvent.Title</h5>
        <p class="card-text">@nextEvent.GetShortDescription()</p>
    </div>
    <div class="card-footer">
        <a asp-controller="Session" asp-action="Details" asp-route-id="@nextEvent.SessionId" class="btn btn-primary">Meer informatie</a>
    </div>
</div>

<div class="card" style="margin-left: 20rem;">
    <div class="card-body">
        <div id="calender"></div>
    </div>
</div>

@section Scripts{
    <script src="~/js/moment.js"></script>
    <script src="~/js/fullcalendar.js"></script>
    <script src="~/js/nl-be.js"></script>
    <script src="~/js/calendar.js"></script>
}
