@model IEnumerable<Session>
@using ITLab29.Models.Domain
@{
    ViewData["Title"] = "Index";
}
<link href="~/css/fullcalendar.min.css" rel="stylesheet" />
<link href="~/css/fullcalendar.print.css" rel="stylesheet" media="print" />

@{ var nextEvent = Model.OrderBy(t => t.Start).FirstOrDefault();}

<div class="card bg-light" style="max-width: 18rem; position:absolute;left:inherit;z-index:1">
    <div class="card-header">Next event</div>
    <img class="card-img-top" src="~/wwwroot/photo/stock.png" onerror="this.src = '/photo/stock.png';">
    <div class="card-body">
        <h5 class="card-title">@nextEvent.Title</h5>
        <p class="card-text">@nextEvent.Description</p>
    </div>
    <div class="card-footer">
        <a asp-controller="Session" asp-action="Details" asp-route-id="@nextEvent.SessionId" class="btn btn-primary">Go to event</a>
    </div>
</div>

<div class="card bg-light" style="margin-left: 20rem;">
    <div class="card-body">
        <div id="calender"></div>
    </div>
</div>

@section Scripts{
    <script src="~/js/moment.js"></script>
    <script src="~/js/fullcalendar.min.js"></script>

    <script>
        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/session/get",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            sessionId: v.sessionId,
                            title: v.title,
                            description: v.description,
                            start: v.start,
                            end: v.end
                        });
                    })

                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })

            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        window.location.href = "/session/" + calEvent.sessionId;
                    },
                })
            }
        })
    </script>
}
