<header class="py-2 bg-image-full" style="background-image: url('/photo/1280px-HoGent_campusSchoonmeersen.jpg');margin-bottom:15px">
    <a href="/">
        <img class="img-fluid d-block mx-auto" src="~/photo/itlab_logo.png" alt="">
    </a>
</header>
<div class="page-header">
    <h2>
        <b style="color: #5b5b5b;">
            Contact
        </b>
    </h2>
</div>
<div class="row">
    <div class="col">
        <div>
            <h3>Openingsuren</h3>
            <div class="dateTime row">
                <div class="day col-4">Maandag</div>
                <div class="time col">Bachelorproef</div>
            </div>
            <br>
            <div class="dateTime row">
                <div class="day col-4">Dinsdag</div>
                <div class="time col">8.15h - 12.30h</div>
            </div>
            <br>
            <div class="dateTime row">
                <div class="day col-4">Woensdag</div>
                <div class="time col">13.30h - 17.45h</div>
            </div>
            <br>
            <div class="dateTime row">
                <div class="day col-4">Donderdag</div>
                <div class="time col">
                    <div>8.30h - 12.30h</div>
                    <div>13.30h - 16.30h</div>
                </div>
            </div>
            <br>
            <div class="dateTime row">
                <div class="day col-4">Vrijdag</div>
                <div class="time col">
                    <div>8.00h - 12.30h</div>
                    <div>15.30h - 17.45h</div>
                </div>
            </div>
            <br>
            <div class="dateTime row">
                <div class="day col-4">Zaterdag</div>
                <div class="time col">Gesloten</div>
            </div>
            <br>
            <div class="dateTime row">
                <div class="day col-4">Zondag</div>
                <div class="time col">Gesloten</div>
            </div>
        </div>
    </div>
    <div class="col">
        <a href="mailto:jordy.vankerkvoorde@student.hogent.be" class="btn btn-primary btn-block">Stuur ons een mailtje</a>
    </div>
</div>